@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
   --radius-sm: calc(var(--radius) - 4px);
   --radius-md: calc(var(--radius) - 2px);
   --radius-lg: var(--radius);
   --radius-xl: calc(var(--radius) + 4px);
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --color-card: var(--card);
   --color-card-foreground: var(--card-foreground);
   --color-popover: var(--popover);
   --color-popover-foreground: var(--popover-foreground);
   --color-primary: var(--primary);
   --color-primary-foreground: var(--primary-foreground);
   --color-secondary: var(--secondary);
   --color-secondary-foreground: var(--secondary-foreground);
   --color-muted: var(--muted);
   --color-muted-foreground: var(--muted-foreground);
   --color-accent: var(--accent);
   --color-accent-foreground: var(--accent-foreground);
   --color-destructive: var(--destructive);
   --color-border: var(--border);
   --color-input: var(--input);
   --color-ring: var(--ring);
   --color-chart-1: var(--chart-1);
   --color-chart-2: var(--chart-2);
   --color-chart-3: var(--chart-3);
   --color-chart-4: var(--chart-4);
   --color-chart-5: var(--chart-5);
   --color-sidebar: var(--sidebar);
   --color-sidebar-foreground: var(--sidebar-foreground);
   --color-sidebar-primary: var(--sidebar-primary);
   --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
   --color-sidebar-accent: var(--sidebar-accent);
   --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
   --color-sidebar-border: var(--sidebar-border);
   --color-sidebar-ring: var(--sidebar-ring);
}

:root {
   --radius: 0.625rem;
   --background: oklch(0.95 0 0);
   --background-secondary: oklch(0.98 0 0);
   --foreground: oklch(0.145 0 0);
   --card: oklch(1 0 0);
   --card-foreground: oklch(0.145 0 0);
   --popover: oklch(1 0 0);
   --popover-foreground: oklch(0.145 0 0);
   --primary: oklch(0.205 0 0);
   --primary-foreground: oklch(0.985 0 0);
   --secondary: oklch(0.97 0 0);
   --secondary-foreground: oklch(0.205 0 0);
   --muted: oklch(0.97 0 0);
   --muted-foreground: oklch(0.556 0 0);
   --accent: oklch(0.97 0 0);
   --accent-foreground: oklch(0.205 0 0);
   --destructive: oklch(0.577 0.245 27.325);
   --border: oklch(0.922 0 0);
   --input: oklch(0.922 0 0);
   --ring: oklch(0.708 0 0);
   --chart-1: oklch(0.646 0.222 41.116);
   --chart-2: oklch(0.6 0.118 184.704);
   --chart-3: oklch(0.398 0.07 227.392);
   --chart-4: oklch(0.828 0.189 84.429);
   --chart-5: oklch(0.769 0.188 70.08);
   --chart-green: oklch(0.7997 0.2296 165.17);
   --chart-blue: oklch(0.7374 0.2296 206.71);
   --chart-fuchsia: oklch(0.6353 0.2937 327.18);
   --sidebar: oklch(0.985 0 0);
   --sidebar-background: 0 0% 98%;
   --sidebar-foreground: 240 5.3% 26.1%;
   --sidebar-primary: 240 5.9% 10%;
   --sidebar-primary-foreground: 0 0% 98%;
   --sidebar-accent: oklch(0.75 0.225 143 / 0.4);
   --sidebar-accent-foreground: 240 5.9% 10%;
   --sidebar-border: oklch(0.75 0.225 143 / 0.4);
   --sidebar-ring: 217.2 91.2% 59.8%;

   --green: oklch(0.65 0.5 140);
   --green-secondary: oklch(0.65 0.5 140 / 8%);
   --orange: oklch(0.85 0.6 90.704);
   --orange-secondary: oklch(0.85 0.6 90.704 / 8%);
   --red: oklch(0.8 0.6 60);
   --red-secondary: oklch(0.8 0.6 60 / 8%);
   --purple: oklch(0.81 0.363 318.87);
   --purple-secondary: oklch(0.81 0.363 318.87 / 8%);
   --blue: oklch(0.6 0.2092 253.06);
   --blue-secondary: oklch(0.6 0.2092 253.06 / 8%);
   --yellow: oklch(0.79 0.41 95.3);
   --yellow-secondary: oklch(0.89 0.21 95.3 / 15%);
   --fuchsia: oklch(0.59 0.2677 1.6);
   --fuchsia-secondary: oklch(0.59 0.2677 1.6 / 8%);
   --gray: oklch(0.5593 0 299.64);
   --gray-secondary: oklch(0.5593 0 299.64/ 100%);
   --sky-blue: oklch(0.7501 0.1729 195.88);
   --sky-blue-secondary: oklch(0.8501 0.1729 195.88 / 15%);
   --rose: oklch(75% 0.25 340);
   --rose-secondary: oklch(75% 0.25 340 / 8%);
   --brown: oklch(0.6377 0.1268 64.63);
   --brown-secondary: oklch(0.6377 0.1268 64.63 / 8%);
}

.dark {
   --radius: 0.625rem;
   --background: oklch(0.255 0 0);
   --background-secondary: oklch(0.302 0 0);
   --foreground: oklch(0.985 0 0);
   --card: oklch(0.205 0 0);
   --card-foreground: oklch(0.985 0 0);
   --popover: oklch(0.205 0 0);
   --popover-foreground: oklch(0.985 0 0);
   --primary: oklch(0.922 0 0);
   --primary-foreground: oklch(0.205 0 0);
   --secondary: oklch(0.269 0 0);
   --secondary-foreground: oklch(0.985 0 0);
   --muted: oklch(0.269 0 0);
   --muted-foreground: oklch(0.708 0 0);
   --accent: oklch(0.269 0 0);
   --accent-foreground: oklch(0.985 0 0);
   --destructive: oklch(0.704 0.191 22.216);
   --border: oklch(1 0 0 / 10%);
   --input: oklch(1 0 0 / 15%);
   --ring: oklch(0.556 0 0);
   --chart-1: oklch(0.488 0.243 264.376);
   --chart-2: oklch(0.696 0.17 162.48);
   --chart-3: oklch(0.769 0.188 70.08);
   --chart-4: oklch(0.627 0.265 303.9);
   --chart-5: oklch(0.645 0.246 16.439);
   --chart-green: oklch(0.7997 0.2296 165.17);
   --chart-blue: oklch(0.7374 0.2296 206.71);
   --chart-fuchsia: oklch(0.6353 0.2937 327.18);
   --sidebar: oklch(0.302 0 0);
   --sidebar-background: 240 5.9% 10%;
   --sidebar-foreground: 240 4.8% 95.9%;
   --sidebar-primary: 224.3 76.3% 48%;
   --sidebar-primary-foreground: 0 0% 100%;
   --sidebar-accent: oklch(0.75 0.225 143 / 0.4);
   --sidebar-accent-foreground: 240 4.8% 95.9%;
   --sidebar-border: oklch(0.75 0.225 143 / 0.4);
   --sidebar-ring: 217.2 91.2% 59.8%;

   --green: oklch(0.922 0.5 140);
   --green-secondary: oklch(0.92 0.5 140 / 8%);
   --orange: oklch(0.95 0.55 80.704);
   --orange-secondary: oklch(0.95 0.55 80.704 / 8%);
   --red: oklch(0.6352 0.2498 22.97);
   --red-secondary: oklch(0.6352 0.2498 22.97 / 8%);
   --purple: oklch(0.81 0.3 318.87);
   --purple-secondary: oklch(0.81 0.3 318.87 / 8%);
   --blue: oklch(0.6 0.2092 253.06);
   --blue-secondary: oklch(0.6 0.2092 253.06 / 8%);
   --yellow: oklch(0.89 0.21 95.3);
   --yellow-secondary: oklch(0.89 0.21 95.3 / 8%);
   --fuchsia: oklch(0.59 0.2677 1.6);
   --fuchsia-secondary: oklch(0.59 0.2677 1.6 / 8%);
   --gray: oklch(0.6306 0 299.64);
   --gray-secondary: oklch(0.6306 0 299.64 / 80%);
   --sky-blue: oklch(0.8501 0.1729 195.88);
   --sky-blue-secondary: oklch(0.8501 0.1729 195.88 / 8%);
   --rose: oklch(75% 0.25 340);
   --rose-secondary: oklch(75% 0.25 340 / 8%);
   --brown: oklch(0.6377 0.1268 64.63);
   --brown-secondary: oklch(0.6377 0.1268 64.63 / 8%);
}

@layer base {
   * {
      @apply border-border outline-ring/50;
   }
   body {
      @apply bg-background text-foreground;
   }
}

/* ------- WebKit / Blink ------- */
*::-webkit-scrollbar {
   width: 7px;
   height: 7px;
}

*::-webkit-scrollbar-track {
   background: var(--foreground);
}

*::-webkit-scrollbar-thumb {
   background: var(--green);
   border-radius: 7px;
}

* {
   scrollbar-width: thin;
   scrollbar-color: var(--green) var(--foreground);
}

@keyframes over-text-animation {
   0% {
      transform: translateX(100%);
   }

   100% {
      transform: translateX(-150%);
   }
}

@keyframes rotation-animation {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(-360deg);
   }
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.no-arrows {
   -moz-appearance: textfield;
}

.scrollbar-none {
   -ms-overflow-style: none;
   /* IE 10+ */
   scrollbar-width: none;
   /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
   display: none;
   /* Chrome, Edge, Safari */
}